// small and down
$page-mobile-padding-top: 0;
$page-mobile-padding-bottom: 0;

// medium
$page-tablet-padding-top: 0;
$page-tablet-padding-bottom: 0;

// large and up
$page-desktop-padding-top: 0;
$page-desktop-padding-bottom: 0;

// background
$page-background-color:  linear-gradient(180deg, #0D0D29 0%, #101C3B 52.94%, #193C66 72%, #026FA8 82.8%, #8ABBD9 100%);
$page-background-image: url("../assets/blue-gradient.png");