// small and down
$page-mobile-padding-top: 0;
$page-mobile-padding-bottom: 0;

// medium
$page-tablet-padding-top: 0;
$page-tablet-padding-bottom: 0;

// large and up
$page-desktop-padding-top: 0;
$page-desktop-padding-bottom: 0;