@import "~@lkmx/flare/src/sass/tokens/screen";

$twin-column-breakpoint-large: 100%;
$twin-column-breakpoint-xlarge: 100%;
$twin-column-breakpoint-xxlarge: rem($breakpoint-xxlarge / 2);
$twin-column-breakpoint-xxxlarge: rem($breakpoint-xxxlarge / 2);
